<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      user-scalable="no"
    />
    <title>Layout Basica</title>
  </head>
  <body>
    <div class="contenedor">
      <header>
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Articulos</a></li>
            <li><a href="#">Tienda</a></li>
            <li><a href="#">Conocenos</a></li>
          </ul>
        </nav>
      </header>

      <section class="main">
        <div class="imagen">
          <img src="imagenes/portada.jpg" alt="" />
        </div>
        <section class="posts">
          <article>
            <h2>titulo del articulo</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              laboriosam excepturi deserunt cum non expedita iure incidunt, ut,
              aliquid, placeat nostrum ad repellendus reprehenderit voluptate
              tempore veniam repudiandae maiores fugit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              laboriosam excepturi deserunt cum non expedita iure incidunt, ut,
              aliquid, placeat nostrum ad repellendus reprehenderit voluptate
              tempore veniam repudiandae maiores fugit.
            </p>
          </article>
        </section>
      </section>
      <aside>
        <div class="widget">
          <h3 class="titulo">Articulos Destacados</h3>
          <ul>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#"
                >Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a
              >
            </li>
          </ul>
        </div>
        <div class="widget">
          <h3 class="titulo">Informacion</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At
            consectetur, quaerat sit quis cum quae delectus. Neque expedita
            reiciendis qui, nulla nobis eveniet officiis ducimus cum unde,
            officia exercitationem facilis?
          </p>
        </div>
      </aside>
      <footer><p>derechos reservados</p></footer>
    </div>
  </body>
</html>
